{% extends "base.html" %}
{% block content %}
    <table class="table table-hover">
        <thead>
            <th class="active">Id</th>
            <th class="active">Title</th>
            <th class="active">Description</th>
            <th class="active">Status</th>
            <th class="active">Actions</th>
        </thead>
        <tbody>
            {% for wish in wishes %}
            <tr class="info">
                    <td>{{ wish.id }}</td>
                    <td>{{ wish.title }}</td>
                    <td>{{ wish.description }}</td>
                    <td>{{ wish.status }}</td>
                    <td>
                        <div class="btn-group">
                          <button type="button" class="btn btn-info">Action</button>
                          <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                          </button>
                          <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                          </ul>
                        </div>
                    </td>
                </tr>
            {% endfor %}

        </tbody>
    </table>
{% endblock %}