{% extends "base.html" %}
{% block content %}
    <div class="input-group mb-3">
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="image-selector" accept=".png, .jpg">
        <label class="custom-file-label" for="image-selector" aria-describedby="image-selector-addon" id="selected-image-label">Choose Image</label>
      </div>
      <div class="input-group-append">
        <span class="input-group-text" id="image-selector-addon">Upload</span>
      </div>
    </div>
    <img src="" id="image-preview" height="200" alt="Image preview...">

    <table class="table table-hover" id="wishes">
        <thead>
            <th class="active">Id</th>
            <th class="active">Title</th>
            <th class="active">Description</th>
            <th class="active">Status</th>
            <th class="active">Actions</th>
        </thead>
        <tbody>
            {% for wish in wishes %}
            <!--html custom tags need "data" prefix:-->
            <!--http://html5doctor.com/html5-custom-data-attributes/-->
            <tr class="info" data-wish-id={{wish.id}} data-wish-url="wish?id={{wish.id}}">
                    <td>{{ wish.id }}</td>
                    <td>{{ wish.title }}</td>
                    <td>{{ wish.description }}</td>
                    <td>{{ wish.status }}</td>
                    <td>
                        <div class="btn-group">
                          <button type="button" class="btn btn-info">Action</button>
                          <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                          </button>
                          <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                          </ul>
                        </div>
                    </td>
                </tr>
            {% endfor %}

        </tbody>
    </table>
{% endblock %}